* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
  padding: 60px;
}

button {
  border: none;
  outline: none;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.original_text {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  border: 1px solid black;
}


.translatedText {
  margin-bottom: 30px;
}
